/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

:root {
    /* @media */
    --desktop-width: 1440px;
    --mobile-width: 375px;

    /* primary */
    --clr-pale-blue: hsl(225, 100%, 94%);
    --clr-bright-blue: hsl(245, 75%, 52%);

    /* secondary */
    --clr-very-pale-blue: hsl(225, 100%, 98%);
    --clr-desaturated-blue: hsl(224, 23%, 55%);
    --clr-dark-blue: hsl(223, 47%, 23%);


    /* fz */
    --fz-body: 1rem;
    --fz-header: 1.5rem;

    /* ff */
    --ff-primary: 'Red Hat Display', sans-serif;

    /* fw */
    --fw-normal: 500;
    --fw-semi-bold: 700;
    --fw-bold: 900;
}

body {
    font-family: var(--ff-primary);
    font-weight: var(--fw-normal);
    font-size: var(--fz-body);
    background-color: var(--clr-pale-blue);
    color: var(--clr-dark-blue);
    padding: 1.5rem 1rem;
}

.wrapper {
    border-radius: 1rem;
    background-color: #fff;
    overflow: hidden;
}

.main {
    padding: 2rem;
}